.main-container {
  background-color: #f4f4f4;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 70%;
  margin-top: 20px;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.title-content, .project-title {
  color: #025eae;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.text-content {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.container-info {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.user-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8px;
}

.user-info {
  background-color: #eef2f7;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.name, .surname {
  flex: 1;
}

.email {
  flex: 100%;
}



.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
